
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 400px;
}

body{
  background-color: white;
  font-size: 14px;
  font-family: arial,sans-serif;
  display: block;
}

/* lien non visité */
a:link {
  color: #202124;
  text-decoration:none;
}
/* lien visité */
a:visited {
  color: #202124;
  text-decoration:none;
}
/* souris sur le lien */
a:hover {
  color: #202124;
  text-decoration-line: underline;
}
/* lien séléctionné */
a:active {
  color: #202124;
  text-decoration-line:underline;
}


.navbar a{
  text-color: #202124;
  text-decoration:none;
  margin: 8px;
  padding: 8px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar .signin{
  background-color: #1a73e8;
  border: 1px solid transparent;
  color: white;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 16px;
}

.main-content{
  margin: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content .search{
  margin-top: 20px;
  width:80%;
  padding: 8px;
  font-size: 18px;
  border-radius: 16px;
  border-color: rgb(202, 204, 204);
}

.main-content .submit-buttons{
  flex-direction: row;
  margin-top: 16px;
}

.main-content .submit-buttons input{
  flex-direction: row;
  margin: 4px;
}

.footer{
  background-color: rgba(202, 204, 204, 0.4);
  align-self: flex-end;
  width: 100%;
  margin: 0px;
  position: fixed;
  bottom: 0;
}

.footer p{
  padding: 2px 0px 0px 20px;
}

.footer a{
  text-color: #202124;

  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}


.footer-menu a{
  display: flex;
  justify-content: center;
}

.footer-menu{
  display: flex;
  justify-content: center;
}
